* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  min-width: 340px;
  overflow: auto;
  background-color:#ffffff;
  a {
  text-decoration: none;
  }
  li {
    list-style-type: none;
  }
}

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

