.footer
  .wrapper
    .block__footer
      .block__uidesk
        img(src="./images/UI.desk.svg")
        p On formed merits hunted unable merely by mr whence or. 
      .block__footer-nav
        h2 Home
        a(href="") Company
        a(href="") News
        a(href="") Team
      .block__footer-nav
        h2 About
        a(href="") History
        a(href="") Service
        a(href="") Pricing
      .block__footer-nav
        h2 Partner
        a(href="") Business
        a(href="") Plan
        a(href="") Marketing
      .block__footer-nav
        h2 Contact
        a(href="") UI.desk
        a(href="") (465)954-8487
        a(href="") Lahore, Pakistan
  .copyright
    p © Copyright 2020 by ui.desk. All right reserved.