header(class="wrapper")
  img(src="./images/UI.desk.svg")
  nav(class="nav")
    ul
      li
        a(class="link active") Home
      li
        a(class="link") About
      li
        a(class="link") Contact
      li
        a(class="link") Testimonials
  div(class="nav__block-orders")
    div(class="nav__block-icons")
      img(src="./images/SEARCH.svg" width="20" height ="20")
      img(src="./images/shoppingcart.svg" width="20" height ="20")
    button
      a(class="nav__block-btn") Order Now